.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(179, 255, 228, 0.644);
  padding: 20px 40px;

  &-logo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(127, 47, 255);
    font-size: 40px;
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;

    .nav-icon {
      font-size: 40px;
      color: rgb(127, 47, 255);
    }
  }
}

.product-num {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  position: absolute;
  margin-top: -68px;
  margin-left: 10px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
